<div class="container">
  <h5>{{question.question}}</h5>
  <div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="answerRadios" id="optionTrue" value="true">
      <label class="form-check-label" for="optionTrue">
        TRUE
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="answerRadios" id="optionFalse" value="false">
      <label class="form-check-label" for="optionFalse">
        FALSE
      </label>
    </div>
  </div>
</div>
