<div class="container">
  <h4>
    {{question.question}}
    <i *ngIf="grading && answer===question.correct.toUpperCase()" class="fas fa-check float-right"></i>
    <i *ngIf="grading && answer!==question.correct.toUpperCase()" class="fas fa-times float-right"></i>
  </h4>
  <br>
  <div>
    <div class="form-check">
      <input [(ngModel)]="answer"
             [disabled]="grading"
             class="form-check-input"
             type="radio"
             name="{{question._id}}AnswerRadios"
             id="{{question._id}}OptionTrue"
             value="TRUE">
      <label class="form-check-label" for="{{question._id}}OptionTrue">
        TRUE
      </label>
    </div>
    <hr>
    <div class="form-check">
      <input [(ngModel)]="answer"
             class="form-check-input"
             type="radio"
             name="{{question._id}}AnswerRadios"
             id="{{question._id}}OptionFalse"
             value="FALSE">
      <label class="form-check-label" for="{{question._id}}OptionFalse">
        FALSE
      </label>
    </div>
    <hr>
  </div>
  <p>Your Answer: {{answer}}</p>
  <button class="btn btn-success"
          (click)="grade()">
    Grade
  </button>
</div>
