<div class="container-fluid p-0">
  <nav class="navbar navbar-light bg-light wbdv-student-course-list">
    <button class="navbar-toggler mr-4 wbdv-field wbdv-hamburger" type="button" data-toggle="collapse"
            data-target="#navbar" aria-controls="navbar" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button>
    <span class="navbar-brand">Course Manager</span>
  </nav>
</div>
<ul class="list-group">
  <li *ngFor="let course of courses"
      class="list-group-item wbdv-student-course-list-item">
    <a routerLink="/course-viewer/{{course.id}}/"
       [state]="{ course: course }">
      {{course.title}}
    </a>
  </li>
</ul>




