<div class="container-fluid p-0">
  <nav class="navbar navbar-light bg-light row wbdv-student-course-list">
    <button class="navbar-toggler mx-2 wbdv-field wbdv-hamburger" type="button" data-toggle="collapse"
            data-target="#navbar" aria-controls="navbar" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button>
    <span class="navbar-brand d-none d-md-inline col-4 ml-2 text-center wbdv-student-course-manager">Course Manager</span>
    <input class="form-control col-md-4 col-9 wbdv-student-search-course-field"
           type="search"
           placeholder="Search Course"
           aria-label="Search"
           [(ngModel)]="courseTitle"
           (ngModelChange)="searchCourse(courseTitle)"/>
  </nav>
</div>
<app-course-list-header [layout]="layout" (layoutSelected)="changeLayout($event)"></app-course-list-header>
<app-course-list-table *ngIf="layout==='table'" [courses]="courses" ></app-course-list-table>
<app-course-list-grid *ngIf="layout==='grid'" [courses]="courses" ></app-course-list-grid>






